Repository k8snetworkplumbingwg/ovs-cni, pull requests merged in 2020-03, with the labels that each got.

#109 Purge ports without interfaces
  pkg/ovsdb/ovsdb.go
  pkg/plugin/plugin.go
  pkg/plugin/plugin_test.go
Labels: approved, dco-signoff: yes, lgtm, ok-to-test, release-note-none, size/L

#115 align the automation directory with other kubevirt projects
  automation/check-patch.e2e.sh
  automation/check-patch.mounts
  automation/check-patch.sh
  automation/setup.sh
  automation/test.sh
Labels: approved, dco-signoff: yes, release-note-none, size/L

#117 run functional tests on prow
  .travis.yml
  automation/check-patch.e2e.sh
  hack/test-dockerized.sh
Labels: approved, dco-signoff: yes, release-note-none, size/M

#118 adding Radim as a reviewer
  OWNERS
Labels: approved, dco-signoff: yes, do-not-merge/invalid-owners-file, release-note-none, size/XS
